### Heroes Of Pymoli Data Analysis
* Of the 1163 active players, the vast majority are male (84%). There also exists, a smaller, but notable proportion of female players (14%).

* Our peak age demographic falls between 20-24 (44.8%) with secondary groups falling between 15-19 (18.60%) and 25-29 (13.4%).  
-----

### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_df = pd.read_csv(file_to_load)
purchase_df.head(1)

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53

In [2]:
def format_money(amt):
    return "${:,.2f}".format(amt)

def format_percent(amt):
    amt = amt * 100
    return "{:.2f} %".format(amt)

## Player Count

* Display the total number of players

In [3]:
num_players = purchase_df["SN"].nunique()
pd.DataFrame({"Total Players": num_players}, index=[0])

   Total Players
0            576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [4]:
items = purchase_df["Item ID"].nunique()

ave_price = format_money(purchase_df["Price"].mean())
#ave_price = "${:,.2f}".format(ave_price)
#ave_price = format_money(ave_price)

num_purchases = purchase_df["Purchase ID"].count()

total_rev = format_money(purchase_df["Price"].sum())
#total_rev = "${:,.2f}".format(total_rev)

total_summary_df = pd.DataFrame({"Number of Unique Items": items,
                          "Average Price": ave_price,
                          "Number of Purchases": num_purchases, 
                          "Total Revenue": total_rev}, index=[0])

#summary_df["Average Price"] = summary_df["Average Price"].map("${:.2f}".format)
total_summary_df

   Number of Unique Items Average Price  Number of Purchases Total Revenue
0                     183         $3.05                  780     $2,379.77

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [5]:
# added age to keep it as column for use later
purchasers_df = purchase_df[["Gender", "SN", "Age"]].drop_duplicates()

gender_series = purchasers_df["Gender"].value_counts()

# percent_series = (gender_series / gender_series.sum() *100).map("{:.2f} %".format)
percent_series = (gender_series / gender_series.sum()).map(format_percent)

gender_demographics_df = pd.DataFrame({"Total Count": gender_series, 
             "Percentage of Players": percent_series})

gender_demographics_df

                       Total Count Percentage of Players
Male                           484               84.03 %
Female                          81               14.06 %
Other / Non-Disclosed           11                1.91 %


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [6]:
gender_gp = purchase_df.groupby("Gender")

#gender_ct = gender_gp.count()["Purchase ID"]
purchase_ct = gender_gp["Purchase ID"].count()

ave_price = gender_gp["Price"].mean().map(format_money)

total_value = gender_gp["Price"].sum()
total_value_formatted = total_value.map(format_money)

# dividing by number of individuals per gender not number of purchases
# since some individuals made more than one purchase
ave_value_per_person = (total_value / gender_demographics_df["Total Count"]).map(format_money)

pd.DataFrame({"Purchase_Count": purchase_ct,
             "Average Purchase Price": ave_price,
             "Total Purchase Value": total_value_formatted, 
             "Avg Total Purchase Per Person": ave_value_per_person})

,Purchase_Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase Per Person
Gender,,,,
Female,113,$3.20,$361.94,$4.47
Male,652,$3.02,"$1,967.64",$4.07
Other / Non-Disclosed,15,$3.35,$50.19,$4.56

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [7]:
age_bins = [0, 9, 14, 19, 24, 29, 34, 39, 150]
age_labels = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]

purchasers_df["Age Range"] = pd.cut(purchasers_df["Age"], age_bins, labels=age_labels)

purchasers_per_range_series = purchasers_df["Age Range"].value_counts()

total_purchasers = purchasers_df["Gender"].count() 

perc_players_series = (purchasers_per_range_series / total_purchasers).map(format_percent)

pd.DataFrame({"Total Count": purchasers_per_range_series,
             "Percentage of Players": perc_players_series}).sort_index()

       Total Count Percentage of Players
<10             17                2.95 %
10-14           22                3.82 %
15-19          107               18.58 %
20-24          258               44.79 %
25-29           77               13.37 %
30-34           52                9.03 %
35-39           31                5.38 %
40+             12                2.08 %

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [27]:
purchase_df["Age Range"] = pd.cut(purchase_df["Age"], age_bins, labels=age_labels)

age_range_gb = purchase_df.groupby("Age Range")

#purchase_ct_series = purchase_df["Age Range"].value_counts()
purchase_ct_series = age_range_gb["Purchase ID"].count()

ave_price_series = age_range_gb["Price"].mean().map(format_money)

total_value_series = age_range_gb["Price"].sum()
total_value_series_formatted = total_value_series.map(format_money)

ave_value_per_person_series = (total_value_series / purchasers_per_range_series).map(format_money)

pd.DataFrame({"Purchase Count": purchase_ct_series,
             "Average Purchase Price": ave_price_series,
             "Total Purchase Value": total_value_series_formatted,
             "Avg Total Purchase Per Person": ave_value_per_person_series })

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase Per Person
10-14,28,$2.96,$82.78,$3.76
15-19,136,$3.04,$412.89,$3.86
20-24,365,$3.05,"$1,114.06",$4.32
25-29,101,$2.90,$293.00,$3.81
30-34,73,$2.93,$214.00,$4.12
35-39,41,$3.60,$147.67,$4.76
40+,13,$2.94,$38.24,$3.19
<10,23,$3.35,$77.13,$4.54

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame